
:root{
  --deep-violet:#130f40;
  --grey-2:#535c68;
  --grey-5:#2C3A47;
  --mixed:rgba(#12c2e9,#c471ed,#2C5364);
  --mixed-dark-blue:#30336b;
  --decent-blue:#0652DD;
  --blue-2:#227093;
  --blue-3:#227093;
  --blue-4:#0a3d62;
  --blue-5:#182C61;
  --pink-1:#FDA7DF;
  --pink-2:#D980FA;
  --pink-3:#EA2027;
  --pink-4:#b71540;
  --green-3:#218c74;
  --purple-3:#40407a;
  --purple-4:#2c2c54;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  background: #141E30;  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #243B55, #141E30); 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #243B55, #141E30);

  color: snow ;
}
.txt-blue{
  color:var(--pink-4);
}
.txt-black{
  color:black;
}
.txt-snow{
  color:snow;
}
.txt-bold{
  font-size: 800;
}
.text-title{
  /* font-family: "Permanent Marker", cursive; */
  /* standard gradient background */
  /* background: linear-gradient(to right,#2980B9, #6DD5FA,white); */

  /* clip hackery */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
hr{
  background: rgba(191, 218, 215, 0.3);
}
.cart-container{
  border: 2px solid black;
  outline: none;
  border: none;
  border-radius: 0.7rem;

}
.bg-dark-blue{
  background: var(--grey-5);
}